pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.cpcache/
.rebel_readline_history

\.lein-failures

node_modules/

test/templates/bar\.json

test/templates/foo\.json

test/test-configs/bar\.json

test/test-configs/foo\.json

weaver_backups/
